/* 
 * Cropper.js v1.5.13
 * https://fengyuanchen.github.io/cropperjs
 *
 * Copyright 2015-present Chen Fengyuan
 * Released under the MIT license
 *
 * Date: 2022-11-20T05:30:43.444Z
 */

.cropper-container {
	@apply text-[0] leading-[0] relative touch-none select-none;
	direction: ltr;
	-ms-touch-action: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.cropper-container img {
	@apply block h-full max-h-[none] max-w-none min-h-0 min-w-0 w-full;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	image-orientation: 0deg;
}
.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
	@apply absolute inset-0;
}
.cropper-wrap-box,
.cropper-canvas {
	@apply overflow-hidden;
}
.cropper-drag-box {
	@apply bg-white opacity-0;
}
.cropper-modal {
	@apply bg-black opacity-50;
}
.cropper-view-box {
	@apply block h-full outline-[rgba(51,153,255,75%)] overflow-hidden w-full;
	outline: 1px solid #0fba81;
}
.cropper-dashed {
	@apply block opacity-50 absolute border-0 border-dashed border-[#eee];
}
.cropper-dashed.dashed-h {
	@apply h-[calc(100%_/_3)] w-full border-b border-t left-0 top-[calc(100%_/_3)];
}
.cropper-dashed.dashed-v {
	@apply h-full w-[calc(100%_/_3)] border-l border-r left-[calc(100%_/_3)] top-0;
}
.cropper-center {
	@apply block h-0 opacity-75 absolute w-0 left-2/4 top-2/4 before:h-px before:left-[-3px] before:w-[7px] before:top-0 after:h-[7px] after:top-[-3px] after:w-px after:left-0;
}
.cropper-center::before,
.cropper-center::after {
	@apply bg-[#eee] content-['_'] block absolute;
}
.cropper-face,
.cropper-line,
.cropper-point {
	@apply block h-full opacity-10 absolute w-full;
}
.cropper-face {
	@apply bg-white left-0 top-0;
}
.cropper-line {
	@apply bg-[#0fba81];
}
.cropper-line.line-e {
	@apply cursor-ew-resize right-[-3px] w-[5px] top-0;
}
.cropper-line.line-n {
	@apply cursor-ns-resize h-[5px] top-[-3px] left-0;
}
.cropper-line.line-w {
	@apply cursor-ew-resize left-[-3px] w-[5px] top-0;
}
.cropper-line.line-s {
	@apply bottom-[-3px] cursor-ns-resize h-[5px] left-0;
}
.cropper-point {
	@apply bg-[#0fba81] h-[5px] opacity-75 w-[5px];
}
.cropper-point.point-e {
	@apply cursor-ew-resize mt-[-3px] right-[-3px] top-2/4;
}
.cropper-point.point-n {
	@apply cursor-ns-resize ml-[-3px] top-[-3px] left-2/4;
}
.cropper-point.point-w {
	@apply cursor-ew-resize left-[-3px] mt-[-3px] top-2/4;
}
.cropper-point.point-s {
	@apply bottom-[-3px] cursor-s-resize ml-[-3px] left-2/4;
}
.cropper-point.point-ne {
	@apply cursor-nesw-resize right-[-3px] top-[-3px];
}
.cropper-point.point-nw {
	@apply cursor-nwse-resize left-[-3px] top-[-3px];
}
.cropper-point.point-sw {
	@apply bottom-[-3px] cursor-nesw-resize left-[-3px];
}
.cropper-point.point-se {
	@apply bottom-[-3px] cursor-nwse-resize h-5 opacity-100 right-[-3px] w-5 md:h-[15px] md:w-[15px] before:bg-[#0fba81] before:content-['_'] before:block before:h-[200%] before:opacity-0 before:absolute before:w-[200%] before:-right-2/4 before:-bottom-2/4;
}
@media (min-width: 992px) {
	.cropper-point.point-se {
		@apply h-2.5 w-2.5;
	}
}
@media (min-width: 1200px) {
	.cropper-point.point-se {
		@apply h-[5px] opacity-75 w-[5px];
	}
}
.cropper-invisible {
	@apply opacity-0;
}
.cropper-bg {
	@apply bg-[url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC')];
}
.cropper-hide {
	@apply block h-0 absolute w-0;
}
.cropper-hidden {
	@apply hidden;
}
.cropper-move {
	@apply cursor-move;
}
.cropper-crop {
	@apply cursor-crosshair;
}
.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
	@apply cursor-not-allowed;
}
